<section id="about">
  <div class="content">
    <img class="acm-logo"
         src="{{ 'images/acm-logo.png' | prepend: site.baseurl }}"
         alt="ACM UMN Logo"/>
    <h2>Promoting computing throughout the Twin Cities</h2>

    <h3>Who are we?</h3>
    <p>
    We are the Association for Computing Machinery, University
    of Minnesota, Twin Cities student chapter. We work to promote
    knowledge and greater interest in the science, design, development,
    language, management, and applications of modern computing on the
    Twin Cities campus and around the Twin Cities area.
    </p>

    <h3>What do we do?</h3>
    <p>
    We provide a place on campus in Keller Hall, room 2-204, where
    anyone can come to meet and discuss modern computing. Our room is open
    to any and all, and we welcome computer science, computer engineering,
    and electrical engineering students, as well as anyone with an interest
    in computing or programming. We also host several events throughout
    the year, including MinneHack, the largest Hackathon in the Twin Cities,
    the Software Design Competition, and the semesterly Keller LAN Party.
    </p>

    <h3>Who can become a member?</h3>
    <p>
    Membership is open to anyone and everyone who's interested in computing.
    Enrollment at the University of Minnesota, Twin Cities, or even as a student
    in general is not required.
    </p>

  </div>
</section>
