<!-- Contact form. -->

<section id="contact">
  <div class="content">
    <h1>Contact us!</h1>

    <form id="contact-form" action="#">
      <span aria-hidden="true">
        <span class="required"></span>
        Marked fields are required
      </span>

      <label for="contact-form-email">
        <span class="required" aria-hidden="true"></span>
        Your Email Address
      </label>
      <input type="email"
             id="contact-form-email"
             placeholder="first.last@email.com"
             required/>
      
      <label for="contact-form-subject">
        Subject
      </label>
      <input type="text"
             id="contact-form-subject"
             placeholder="ACM is super awesome!"/>

      <label for="contact-form-message">
        <span class="required" aria-hidden="true"></span>
        Your Message
      </label>
      <textarea id="contact-form-message" required></textarea>

      <div id="contact-form-status">
        <!-- Will get filled with confirmation messages or error messages. -->
      </div>

      <div class="buttons">
        <button type="submit"
                id="contact-form-submit"
                class="primary-button">
          Send!
        </button>
      </div>
    </form>
  </div>
</section>
