<section id="events">
  <div class="content">
    <h1>Upcoming Events</h1>

    <ol>
    {% assign events = site.events | sort: startdate %}
    {% for event in events %}
      <li class="timeline-event">
        <a href="{% if event.permalink %}{{ event.permalink }}{% else %}{{ event.url }}{% endif %}">
          <span class="link">
            <span class="date">
              {% if event.enddate %}
                {{ event.startdate }} &ndash; {{ event.enddate }}
              {% else %}
                {{ event.startdate }}
              {% endif %}
            </span>
            <span class="event-icon">
              <img class="event-icon" 
                   src="{{ event.image | prepend: site.baseurl }}"
                   alt=""/>
            </span>
            <h2 class="event-name">
              {{ event.title }}
            </h2>
          </span>
        </a>
      </li>
    {% endfor %}
    </ol>
  </div>
</section>
