<footer id="footer">
  <div class="content">
    <div id="officers">
      <h1>ACM Officers and Advisors {{site.data.officers.year}}</h1>
      <ul>
        {% for committee in site.data.officers.committees %}
          <h3 style="margin: 9px auto 3px auto;">{{ committee.name }}</h3>
          {% for officer in committee.members %}
            <li>
              <a href="mailto:{{ officer.email }}">
                {{ officer.name }}
              </a>
              &mdash;
              <span class="position">
                {{ officer.position }}
              </span>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>

    <div id="contact-info">
      <h1>Contact Information</h1>
      <h2>Address</h2>
      <address>
        <ol>
          <li>Association for Computing Machinery</li>
          <li>Keller Hall 2-204</li>
          <li>200 Union Street South</li>
          <li>Minneapolis, MN 55455</li>
        </ol>
      </address>
      <h2>Email</h2>
      <p>
        <a href="mailto:acm@umn.edu">
          acm@umn.edu
        </a>
      </p>
      <h2>Facebook</h2>
      <p>
        <a href="https://www.facebook.com/acmuofmn/">
          acmuofmn
        </a>
      </p>
      <h2>Twitter</h2>
      <p>
	    <a href="https://twitter.com/acmuofmn">
          acmuofmn
        </a>
      </p>
    </div>
  </div>
  <div class="content">
    <img class="acm-logo"
         src="{{ 'images/acm-logo.png' | prepend: site.baseurl }}"
         alt="ACM UMN Logo"/>
  </div>
</footer>
