<footer id="footer">
  <div class="content">
    <div id="officers">
      <h1>ACM Officers 2016-2017</h1>
      <ul>
        {% for officer in site.data.officers %}
          <li>
            <a href="mailto:{{ officer.email }}">
              {{ officer.name }}
            </a>
            &mdash;
            <span class="position">
              {{ officer.position }}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div id="contact-info">
      <h1>Contact Information</h1>
      <h2>Address</h2>
      <address>
        Association for Computing Machinery<br/>
        Keller Hall 2-204<br/>
        200 Union Street South<br/>
        Minneapolis, MN 55455
      </address>
      <h2>Email</h2>
      <p>
        <a href="mailto:acm@umn.edu">
          acm@umn.edu
        </a>
      </p>
    </div>
  </div>
</footer>
