<footer id="footer">
  <div class="content">
    <div id="officers">
      <h1>ACM Officers {{site.data.officers.year}}</h1>
      <ul>
        {% for officer in site.data.officers.list %}
          <li>
            <a href="mailto:{{ officer.email }}">
              {{ officer.name }}
            </a>
            &mdash;
            <span class="position">
              {{ officer.position }}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div id="contact-info">
      <h1>Contact Information</h1>
      <h2>Address</h2>
      <address>
        <ol>
          <li>Association for Computing Machinery</li>
          <li>Keller Hall 2-204</li>
          <li>200 Union Street South</li>
          <li>Minneapolis, MN 55455</li>
        </ol>
      </address>
      <h2>Email</h2>
      <p>
        <a href="mailto:acm@umn.edu">
          acm@umn.edu
        </a>
      </p>
    </div>
  </div>
  <div class="content">
    <img class="acm-logo"
         src="{{ 'images/acm-logo.png' | prepend: site.baseurl }}"
         alt="ACM UMN Logo"/>
  </div>
</footer>
