<section id="membership">
  <div class="content">
    <h1>I want to become a member</h1>

    <form id="membership-form" action="#">
      <span aria-hidden="true">
        <span class="required"></span>
        Marked fields are required
      </span>

      <label for="membership-form-firstname">
        <span class="required"></span>
        Your First Name
      </label>
      <input type="text"
             id="membership-form-firstname"
             placeholder="Adam"
             required/>

      <label for="membership-form-lastname">
        <span class="required"></span>
        Your Last Name
      </label>
      <input type="text"
             id="membership-form-lastname"
             placeholder="Adamson"
             required/>

      <label for="membership-form-email">
        <span class="required"></span>
        Your Email Address
      </label>
      <input type="email"
             id="membership-form-email"
             placeholder="adam.adamson@email.com"
             required/>

      <label for="membership-form-ucard">
        <span class="required"></span>
        13-digit Number on Your UCard that Starts with 6009
      </label>
      <input type="text"
             id="membership-form-ucard"
             placeholder="6009XXXXXXXXX"
             pattern="6009[0-9]{9}"
             required/>

      <div class="buttons">
        <button type="button"
                id="membership-form-submit"
                class="primary-button">
          Sign me up!
        </button>
      </div>
    </form>
  </div>
</section>
