// Footer styling.

#footer
  min-height: 100px
  width: 100%
  padding-top: 30px
  padding-bottom: 30px

  font-size: 12px

  background-color: $fg-color-primary
  color: $bg-color-primary

  h1, h2
    text-align: center

  h1
    font-size: 18px
    margin-bottom: 10px

  h2
    font-size: 14px
    text-transform: uppercase
    margin: 5px 0px 
  
  #officers
    display: inline-block
    vertical-align: top
    max-width: $phone-breakpoint / 2
    margin-right: $column-gutter / 2

    ul
      +centered

      .position
        font-style: italic

  #contact-info
    display: inline-block
    vertical-align: top
    max-width: $phone-breakpoint / 2
    margin-left: $column-gutter / 2

    text-align: center

    address
      font-style: normal

  &> .content
    +centered
    display: block
    max-width: $phone-breakpoint
