// Styles that apply to the entire document.
   Styles that only apply to specific parts should go
   in their own files.

*
  margin: 0px
  padding: 0px

h1, h2, h3, h4, h5, h6
  text-transform: uppercase
  letter-spacing: 2px
  line-height: 1.8em

body
  margin: 0px
  padding: 0px

  background-color: $fg-color-primary
  color: $bg-color-primary

  font-family: sans-serif

body > main
  background-color: $bg-color-primary
  color: $fg-color-primary

  font-size: 14px
  line-height: 1.5em

  &> section
    padding-top: 25px
    padding-bottom: 25px

    &:nth-child(even)
      background-color: $bg-color-secondary
      color: $fg-color-secondary

    &:first-of-type
      padding-top: 50px
    &:last-of-type
      padding-bottom: 50px

    &> .content
      +centered
      max-width: $phone-breakpoint

a
  text-decoration: none
  color: $accent-color-primary

ul
  list-style-type: none
  padding-left: 10px
