// Styles that apply to the entire document.
   Styles that only apply to specific parts should go
   in their own files.

*
  margin: 0px
  padding: 0px

h1, h2, h3, h4, h5, h6
  text-transform: uppercase
  letter-spacing: 2px
  line-height: 1.2em

h2
  text-align: center
  font-size: 26px
  margin-bottom: 15px

@media (max-width: $phone-breakpoint)
  h1, h2, h3, h4, h5, h6
    text-align: center

body
  margin: 0px
  margin-top: 45px
  padding: 0px

  background-color: $fg-color-primary
  color: $bg-color-primary

  font-family: sans-serif

body > main
  background-color: $bg-color-primary
  color: $fg-color-primary

  font-size: 14px
  line-height: 1.5em

  &> section
    padding: 70px ($column-gutter / 2)

    &:nth-of-type(even)
      background-color: $bg-color-secondary
      color: $fg-color-secondary

    &:first-of-type
      padding-top: 100px
    &:last-of-type
      padding-bottom: 100px

    &> .content
      +centered
      max-width: $phone-breakpoint

a
  text-decoration: none
  color: $accent-color-primary

ul, ol
  list-style-position: inside
  padding-left: 40px
  margin: 15px 0px

::-selection
  background-color: $accent-color-primary
  color: #fff

::-moz-selection
  background-color: $accent-color-primary
  color: #fff
