// Navbar styling.

#navbar
  display: block
  width: 100%
  height: 40px

  background-color: $fg-color-primary

  font-weight: bold

  padding-left: 15px
  padding-right: 15px
  padding-top: 5px
  padding-bottom: 0px

  #navbar-acm
    font-size: 25px
    color: $logo-color-blue
  #navbar-umn
    font-size: 25px
    margin-left: -10px
    color: $logo-color-orange
