---
---

// ACM website basic stylings.
  
   This file is meant mostly as a configuration file.
   Actual rules should go in the `_sass/' directory.

@charset "utf-8"

$bg-color-primary: #f0f0f0
$bg-color-secondary: #e0e0e0

$fg-color-primary: #333333
$fg-color-secondary: #424242

$accent-color-primary: #00a8ff
$accent-color-secondary: #ff982d

$logo-color-blue: #0091ff
$logo-color-orange: #f6881d

@import general
@import navbar
@import footer
