---
---

// ACM website basic stylings.
  
   This file is meant mostly as a configuration file.
   Actual rules should go in the `_sass/' directory.

$bg-color-primary: #f0f0f0
$bg-color-secondary: #e0e0e0

$fg-color-primary: #333333
$fg-color-secondary: #505050

$accent-color-primary: #00a8ff
$accent-color-secondary: #ff982d

$logo-color-blue: #0091ff
$logo-color-orange: #f6881d

$alert-success-color: rgb(102, 204, 68)
$alert-error-color: rgb(231, 76, 60)

$shadow-color: #909090

$phone-breakpoint: 768px

$column-gutter: 30px

$header-image: "{{ 'images/big-data-header.png' | prepend: site.baseurl }}"

=centered
  margin-left: auto
  margin-right: auto

@import general
@import navbar
@import header
@import about
@import events
@import footer
@import forms
@import modals
